h2{
    color: aliceblue;
}


.login-container {
  width: 300px;
  margin: 220px auto;
  padding: 80px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
  background: black;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  background-color: #f5f5f5;
  color: black;
}

button {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background: #4E73DF;
  color: black;
  border: none;
  border-radius: 5px;
}

.error {
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 20px;
  font-size: 20px;
}
