.profile-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding: 20px;
  font-family: Arial;
}

.profile-header {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #555;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 24px;
  margin: 5px 0;
}

.profile-email {
  color: #555;
  margin-bottom: 15px;
}

.profile-section {
  text-align: left;
  margin: 20px 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.profile-section ul {
  list-style: none;
  padding: 0;
}

.profile-section li {
  margin: 8px 0;
}

.profile-actions {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-top: 20px;
}

.btn {
  padding: 10px;
  border: none;
  background: #333;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.btn.logout {
  background: #d9534f; /* red */
}
